body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  margin: 50px;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: .95;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color: #11999E;
}
.my-intro{
  color: #40514E;
  font-weight: bolder;
  width: 25%;
  margin: auto;
  line-height: 2;
  margin-bottom:
}
.skill-intro{
  color: #40514E;
  font-weight: bolder;
}
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.profile{
  margin-bottom: 70px;

}
hr{
  border: None;
  border-top: 5px dotted rgba(92, 102, 102, 0.8);
  width: 3%;
}
.contact-me{
  margin-top: 70px;
}
.bottom-container {
  background-color: #66bfbf;
  padding-top: 40px;
  padding-bottom: 20px;
  height: 100px;
  font-weight: bold;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-picture {
  width: 200px;
  height: auto;
  margin-top: 75px;
}
.skills{
  margin-top: 70px;
}
.skill-row
{
  margin: auto;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.computer {
  width: 25%;
  margin-right: 30px;
  float: left;
}

.chillies {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.btn{
  background-color: #11999E;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  margin-top: 30px;
  color: #EAF6F6;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}
.bottom-para
{
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 50px;
  width: 30%;
  margin: auto;
}
.middle-container{
  margin-bottom: 40px;
}
.bottom-container a{
  color: #11999E;
  text-decoration: none;

}
.copyright{
  color: #EAF6F6;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 10px;
}
